<body style="color: white ;">
    <section>
        <div id="landing-offer" class="pad-sec">
            <div class="container">
                <div align="center">
                    <br/>
                    <img height="100px" src="https://upload.wikimedia.org/wikipedia/commons/2/23/Logo_UTSJR_new.gif" />
                </div>
                <hr>
                <div class="title-section big-title-sec">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <div>
                                <h1 class="big-title">Colaboradores</h1>
                            </div>
                            <hr>
                            <p class="about-text">Nombres de los colaboradores:</p>
                        </div>
                    </div>
                </div>

                <div class="offer-boxes">

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="offer-post text-center">
                                <div class="offer-icon">
                                </div>
                                <h4>T.S.U. Carmen Lizbeth Gutiérrez Luna</h4>
                                <hr>
                                <a href="https://web.facebook.com/lizbeth.gutierrez.31521301" target="_blank">
                                    <img height="200px" src="https://scontent.fgdl5-2.fna.fbcdn.net/v/t1.6435-9/92444179_608541736409709_1707278598563430400_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeEP-nr6ZbVQopx29YYtG-4tSu6YsWyX92RK7pixbJf3ZKcsODhRG-HL6HPX2n0wR6huti_zW4UUIZTZccF93b8L&_nc_ohc=OlaYQJAKXG8AX-FFSdi&_nc_ht=scontent.fgdl5-2.fna&oh=00_AT8f7iU5nQKOpXAvWlSeLxrX4E372Z6_7Xz1ZetseGM-Hw&oe=62EB6D8F">
                                </a>
                                <hr>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="offer-post text-center">
                                <div class="offer-icon">
                                </div>
                                <h4>T.S.U. Marco Polo Lopez Tovar</h4>
                                <hr>
                                <a href="https://web.facebook.com/m4rk0P/" target="_blank">
                                    <img height="200px" src="https://scontent.fgdl5-2.fna.fbcdn.net/v/t1.6435-9/122447324_2356951704451143_1158928336322340892_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeFxcRezPpcsuxce_XqLinEWBXCl9jFqBtsFcKX2MWoG23R7hz8N5_CgaU2CxUdVNKOplsmEAgPeIv3FUMiXT18B&_nc_ohc=wjbiGKRGY0wAX_yHCDP&tn=SQ8Vs7Zx21q03XCf&_nc_ht=scontent.fgdl5-2.fna&oh=00_AT8aypDofodbwgCpWKmX4l9APWes2bzlRasE0Apl6ieNhA&oe=62E9063D">
                                </a>
                                <hr>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="offer-post text-center">
                                <div class="offer-icon">
                                </div>
                                <h4>T.S.U. Jaqueline Arteaga Gonzaléz</h4>
                                <hr>
                                <a href="https://web.facebook.com/yeli.jaky12" target="_blank">
                                    <img height="200px" src="https://scontent.fgdl5-4.fna.fbcdn.net/v/t1.6435-9/106791991_3207863975974467_1539554297463983644_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=174925&_nc_eui2=AeEBPg0ZpVI8XF7gi3cm7ObIo9EKHVgwqdij0QodWDCp2KYvOZwOrDMokWKNoBF1j26uclpCh9I_mcUlNIIxQxz5&_nc_ohc=CQm8_hk_66MAX_6MiOD&tn=SQ8Vs7Zx21q03XCf&_nc_ht=scontent.fgdl5-4.fna&oh=00_AT9vUIaUh4GQL_o07A_aPFwkFf58j7niVKaKeeuw6HPR1w&oe=62E944B8">
                                </a>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
                <div align="center">
                    <hr>
                    <p class="about-text">2022</p>
                </div>
            </div>
        </div>
    </section>

    <style>
        body {
            background: url(https://fondosmil.com/fondo/66146.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            margin: 0;
            height: 92vh;
        }
    </style>

</body>