<body style="color: white ;">
    <h2>Crear Cancion</h2>

    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card-body">

                <form [formGroup]="songForm" (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        <input type="text" class="form-control" formControlName="nombre" />
                        <!-- Error de validacion -->
                        <div style="color: red;" *ngIf="enviado && myForm['nombre'].errors?.['required']">

                            * Este campo es obligatorio *

                        </div>
                    </div>

                    <div class="form-group">
                        <label for="genero">Genero:</label>
                        <input type="text" class="form-control" formControlName="genero" />
                        <!-- Error de validacion -->
                        <div style="color: red;" *ngIf="enviado && myForm['genero'].errors?.['required']">

                            * Este campo es obligatorio *

                        </div>
                    </div>

                    <div class="form-group">
                        <label for="banda">Artista(s):</label>
                        <input type="text" class="form-control" formControlName="banda" />
                        <!-- Error de validacion -->
                        <div style="color: red;" *ngIf="enviado && myForm['banda'].errors?.['required']">

                            * Este campo es obligatorio *

                        </div>
                    </div>

                    <div class="form-group">
                        <label for="link">Link:</label>
                        <input type="text" class="form-control" formControlName="link" />
                        <!-- Error de validacion -->
                        <div style="color: red;" *ngIf="enviado && myForm['link'].errors?.['required']">

                            * Este campo es obligatorio *

                        </div>
                    </div>

                    <div class="form-group">
                        <label for="album">Album</label>
                        <input type="text" class="form-control" formControlName="album" />
                        <!-- Error de validacion -->
                        <div style="color: red;" *ngIf="enviado && myForm['album'].errors?.['required']">

                            * Este campo es obligatorio *

                        </div>
                    </div>

                    <div class="form-group">
                        <label for="lanzamiento">Lanzamiento:</label>
                        <input type="text" class="form-control" formControlName="lanzamiento" />
                        <!-- Error de validacion -->
                        <div style="color: red;" *ngIf="enviado && myForm['lanzamiento'].errors?.['required']">

                            * Este campo es obligatorio *

                        </div>
                    </div>

                    <div class="form-group">
                        <label for="img">Url de Portada:</label>
                        <input type="text" class="form-control" formControlName="img" />
                        <!-- Error de validacion -->
                        <div style="color: red;" *ngIf="enviado && myForm['img'].errors?.['required']">

                            * Este campo es obligatorio *

                        </div>
                    </div>
                    <br/>
                    <div class="form-group centrado">
                        <div class="row">
                            <div class="col-md-9 col-md-offset-9 col-xs-12 text-right">
                                <div class="btn-group" role="group">
                                    <button class="btn btn-outline-primary btn-lg btn-block" type="submit">Agregar</button>
                                    <button onclick="location.href='#/playlist'" class="btn btn-outline-danger btn-lg btn-block" type="button">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>

    <style>
        body {
            background: url(https://fondosmil.com/fondo/66146.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            margin: 0;
            height: 89vh;
        }
        
        .centrado {
            display: flex;
            justify-content: center;
        }
    </style>
</body>